<nav class="navbar shadow-sm sticky-top" style="background-color: #E6EDEC;">
    <div class="container-fluid">
        <ul class="nav col-12 col-md-9 text-decoration-none">
            <div class="row" style="width: 100%;">
                <div class="col-12 col-sm-12 col-lg-auto">
                    <a href="/" class=" text-decoration-none">
                        <div style="min-width: 285px;">
                            <span class="walsin">華新雲</span>
                            <span class="management">會議管理系統</span>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-12 col-lg nav">
                    <div class="btn-group">
                        <a href="/" class="w3-bar-item align-self-center ml-4 nav-item text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16"><path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" /><path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" /><path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" /></svg>
                        會議列表
                        </a>
                        <a class="w3-bar-item align-self-center nav-item text-decoration-none dropdown-toggle dropdown-toggle-split mr-0 pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <div class="dropdown-menu ml-4">
                            <a class="dropdown-item" href="/">我參與的會議</a>
                            <a class="dropdown-item" href="/chair">我主持的會議</a>
                            <a class="dropdown-item" href="/mycreate">我建立的會議</a>
                        </div>
                    </div>
                    <div class="btn-group">
                    <a href="/sign" class="w3-bar-item ml-4 nav-item align-self-center text-decoration-none"
                        style="flex; align-items: center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class=" align-self-center" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16"><path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" /><path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" /><path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" /></svg>
                        待核准會議
                    </a>
                    </div>
                    <div class="btn-group">
                    <a href="/roomlist" class="w3-bar-item ml-4 nav-item align-self-center text-decoration-none"
                        style="flex; align-items: center">
                        <svg width="16" height="16" viewBox="0 0 48 48" fill="none" class=" align-self-center" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8 44V6C8 5.44772 8.44772 5 9 5H29C29.5523 5 30 5.44772 30 6V44" fill="none"/><path d="M8 44V6C8 5.44772 8.44772 5 9 5H29C29.5523 5 30 5.44772 30 6V44" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 15L40 20.9993V44" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M4 44H44" stroke="#333" stroke-width="4" stroke-linecap="round"/></svg>
                        新空間管理
                    </a>
                    </div>
                    <div class="btn-group">
                    <a href="/usermanage" class="w3-bar-item ml-4 nav-item align-self-center text-decoration-none"
                        style="flex; align-items: center">
                        <svg width="16" height="16" viewBox="0 0 48 48" fill="none" class=" align-self-center" xmlns="http://www.w3.org/2000/svg"><rect width="48" height="48" fill="white" fill-opacity="0.01"/><rect x="4" y="8" width="40" height="32" rx="2" stroke="#333" stroke-width="4" stroke-linejoin="round"/><path d="M17 25C19.2091 25 21 23.2091 21 21C21 18.7909 19.2091 17 17 17C14.7909 17 13 18.7909 13 21C13 23.2091 14.7909 25 17 25Z" stroke="#333" stroke-width="4" stroke-linejoin="round"/><path d="M23 31C23 27.6863 20.3137 25 17 25C13.6863 25 11 27.6863 11 31" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M28 20H36" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M30 28H36" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        會員列表
                    </a>
                    </div>
                    <div class="btn-group">
                    <a href="/notice" class="w3-bar-item nav-item ml-4 align-self-center text-decoration-none"
                        style="flex; align-items: center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z" />
                            <path fill-rule="evenodd"
                                d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                        </svg>
                        通知中心&nbsp;&nbsp;
                        {{!-- 如果有未讀的通知，顯示未讀通知的數量 --}}
                        {{#if noticeNum}}
                        <span class="badge bg-danger" style="color: #ffffff; padding:3px">{{noticeNum}}</span>
                        {{/if}}
                    </a>
                    </div>
                </div>
            </div>
                    <!--
            <li class="nav-item"><a href="" class="nav-link">會議列表</a></li>
            <li class="nav-item"><a href="" class="nav-link">新空間檔管理</a></li>
            <li class="nav-item"><a href="" class="nav-link">員工檔管理</a></li>
            -->
        </ul>
        <div class="col-12 col-md-3 text-right">
            {{!-- 判斷有無登入 --}}
            {{!-- 有登入->顯示使用者名稱跟登出鈕 --}}
            {{#if isAuthenticated}}
            <span class="navbar-text">Hello, {{name}}</span>
            <a href="/users/logout"><img src="/images/logout.svg" class="icon"></a>
            {{/if}}
            {{!-- 沒登入->不顯示 --}}
        </div>
    </div>
</nav>